---
layout: default
---

<!-- Post Header -->
{% include intro-header.html type='post' %}

<!-- Main Content -->
<div class="main">
  <section id="one" class="wrapper-content">
    <!-- NO SIDEBAR -->
    <!-- PostList Container -->
    <div class="container">
      {{ content }}
    </div>
    <!-- Sidebar Container -->
    <div class="container">
      <!-- Featured Tags -->
      {% include featured-tags.html %}

    </div>
  </section>
</div>

</script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}
